{%assign products_per_page= section.settings.number_of_products_per_page%}
<div class="px-4 py-8">
    {% paginate collection.products by products_per_page %}
        <h1 class="text-3xl text-center">{{ collection.title }}</h1>

        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    {% comment %} Pass product to product-card.liquid{% endcomment %}
                    {% render 'product-card', product_product: product %}
                {% else %}
                    <p>There are no products inside of this collection</p>
                {% endfor %}
            </div>
        </div>
        
        {% comment %} Pass paginate to pagination.liquid{% endcomment %}
        {% render 'pagination', pagination: paginate %}

    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 6,
            "label": "Number of products per page"
        }
    ]
}
{% endschema %}
